@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

header{
    height: 12vh;
    background: linear-gradient(to bottom right,#2980B9,#6DD5FA,#FFFFFF 120%);
    display: flex;
    justify-content: center;
    align-items: center;
}